<div class="welcome">
  <h2>Welcome to CSE Motors!</h2>
  <img src="images/vehicles/delorean.jpg" alt="Delorean" />
</div>
<div class="reviews">
  <h2>DMC Delorean Reviews</h2>
  <ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and I love it!" (5/5)</li>
  </ul>
</div>
<div class="upgrades">
  <h2>Delorean Upgrades</h2>
  <ul>
    <li>
      <article>
        <img src="images/upgrades/flux-cap.png" alt="Flux capacitor" />
      </article>
      <a href="#">Flux capacitor</a>
    </li>
    <li>
      <article>
        <img src="images/upgrades/flame.jpg" alt="Flame Decals" />
      </article>
      <a href="#">Flame Decals</a>
    </li>
    <li>
      <article>
        <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" />
      </article>
      <a href="#">Bumper Stickers</a>
    </li>
    <li>
      <article>
        <img src="images/upgrades/hub-cap.jpg" alt="Hub caps" />
      </article>
      <a href="#">Hub Caps</a>
    </li>
  </ul>
</div>
